<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hello World!!</h1>
    <nav>
        <ol>
            <li><a href="/insert">
                    <h3>Data Operations</h3>
                </a></li>
            <li><a href="/list">
                    <h3>View all Records</h3>
                </a></li>
        </ol>
    </nav>
</body>

</html>