<!doctype html>
<html>

<body>
    <table border=1>
        <thead>
            <td>Id</td>
            <td>Number of People</td>
            <td>Movie Name</td>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["total_people"]}}</td>
            <td> {{ row["m_name"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Go back to home page</a>
    <br>
    <a href="/csv">Get CSV</a>
    <br>
    <a href="/json">Get Json Form Data</a>
</body>

</html>